
*{
	background-color: teal;
	margin-bottom: 10px;
}




.box{
	border: 5px solid green;
	margin-bottom: 23px;
	min-height: 50px;
	background-color: aqua;
	font-size: 25px;

}
.lime{

}
.sp{
	background-color: red;
}



